
.icon {
    font-size: 100px;
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 200px;
  }