<div class="card">
  <div class="card-header">
    <span style="padding:5px;"><b>Shirt:</b> {{selectedShirt?.productName}}</span><span style="padding:5px;"> <b> Tie:
      </b> {{selectedTie?.productName}}</span>
  </div>

  <div style="padding:10px;">
    <div class="container">
      <div class="row">
        <div class="col">
          <app-selected-shirt [SelectedShirt]="selectedShirt" [SelectedTie]="selectedTie"></app-selected-shirt>
        </div>
        <div class="col">
          <app-image-gallery direction="Vertical" [products]='ties'
            (selectedProductChanged)='onTieSelectionChanged($event)'></app-image-gallery>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-image-gallery direction="Horizantal" [products]="shirts"
            (selectedProductChanged)='onShirtSelectionChanged($event)'></app-image-gallery>
        </div>
      </div>
    </div>
  </div>
</div>